
@{
    ViewBag.Title = "QuanLyTaiKhoan";
}

<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title> Danh Mục Controller </title>
    </head>
    <body>
        <div class="font">
            <div class="top">
                <h2> Welcome User </h2>
            </div>
        </div>
        <div id="main">
                <div id="profile">
                    <img src="https://fpt.vn/storage/upload/images/site/fpt.png" width="100%" height:250px; id="pic">
                </div>
            <div class="bubble">
                <img src="~/Models/hinhAnh/Coventic Webpage images/bubble.png" />
                <img src="~/Models/hinhAnh/Coventic Webpage images/bubble.png" />
                <img src="~/Models/hinhAnh/Coventic Webpage images/bubble.png" />
                <img src="~/Models/hinhAnh/Coventic Webpage images/bubble.png" />
                <img src="~/Models/hinhAnh/Coventic Webpage images/bubble.png" />
                <img src="~/Models/hinhAnh/Coventic Webpage images/bubble.png" />
                <img src="~/Models/hinhAnh/Coventic Webpage images/bubble.png" />
                <img src="~/Models/hinhAnh/Coventic Webpage images/bubble.png" />
                <img src="~/Models/hinhAnh/Coventic Webpage images/bubble.png" />
                <img src="~/Models/hinhAnh/Coventic Webpage images/bubble.png" />
                <img src="~/Models/hinhAnh/Coventic Webpage images/bubble.png" />
                <img src="~/Models/hinhAnh/Coventic Webpage images/bubble.png" />
                <img src="~/Models/hinhAnh/Coventic Webpage images/bụi cây.jpg" />
                <img src="~/Models/hinhAnh/Coventic Webpage images/bụi cỏ.jpg" />
            </div>
                <div id="content">
                    <div id="sua">
                        <p id="giong"> User ID: huynkgcs190309</ </p>
                        <p id="giong"> Name:    Ngô Kim Huy</p>
                        <p id="giong"> Email:    hngo882001@gmail.com</p>
                        <p id="giong"> Gender:    Male</p>
                        <p id="giong"> Phone:    0912345678</p>
                        <p id="giong"> Address:    226/5 An Duong Vuong P.16 Q.8</p>
                    </div>
                    <div id="sua2">
                        <button class="nut1" id="cac">
                            Edit
                        </button>
                        <button class="nut2" id="cac">
                            Update
                        </button>
                    </div>
                </div>
            </div>
    </body>
</html>

