@{
    ViewBag.Title = "Home Page";
}



<div id="main">
     <div id="menu">
        <button class="but"> Create </button>
        <button class="but"> Edit </button>
    </div>
    
    <div id="profile">
        <i class="fas fa-user-tie"></i>
    </div>
    
    <div id="content">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/8b/FPT_Software_H%404x.png" width="25%" height:50px;>
        <ul class="fix">
            <li class="meno"><a href="#home">Home</a></li>
            <li class="meno"><a href="#news">News</a></li>
            <li class="meno"><a href="#contact">Contact</a></li>
            <li class="meno"><a href="#about">About</a></li>
        </ul>

    </div>
    
    <div id="footer">
        Xin chào footer
    </div>
</div>