
@{
    ViewBag.Title = "TrainingStaff";
}

<button class="hello">
    List
</button>
<div class="hey">
    <div class="s1">
        <h2> First Employee: </h2>
            <p class="style">
                <button class="bor1"> + Name:             </button> <input type="text"      class="type"/>              <br/>
                <button class="bor1"> + ID:               </button> <input type="number"    class="type"/>              <br/>
                <button class="bor1"> + Telephone number: </button> <input type="tel"       class="type"/>              <br/>
                <button class="bor1"> + Email:            </button> <input type="email"     class="type"/>
            </p>
    </div>
    <div class="s2">
        <h2> Second Employee: </h2>
            <form action="~/Models/AccountViewModels.cs">
                <button class="bor1"> + Name:             </button> <input type="text"      class="type"/>               <br/>
                <button class="bor1"> + ID:               </button> <input type="number"    class="type"/>               <br/>
                <button class="bor1"> + Telephone number: </button> <input type="tel"       class="type"/>               <br/>
                <button class="bor1"> + Email:            </button> <input type="email"     class="type"/>
            </form>
</div>
    <div class="s3">
        <h2> Third Employee:</h2>
            <p class="style">
                <button class="bor1"> + Name:             </button> <input type="text"      class="type"/>              <br/>
                <button class="bor1"> + ID:               </button> <input type="number"    class="type"/>              <br/>
                <button class="bor1"> + Telephone number: </button> <input type="tel"       class="type"/>              <br/>
                <button class="bor1"> + Email:            </button> <input type="email"     class="type"/>
            </p>
    </div>
</div>

